.card {
    /* max-width: 500px; */
    width: 600px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
                background: rgba(255, 255, 255, 0.171);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: inset -1px -1px -0.12px rgba(255, 255, 255, 0.4),
        1px 1px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
  }
  .card .details{
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  .card .back-icon {
    margin-right: 500px;
  }
  /* .card .edit-icon {
    margin-left: 400px;
  } */
.icons {
    margin: 5px;
    height: 100px;
  }
  .card .profile-image {
    width: 100%;
  }
.card img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid #e6e6e6;
  }
  
   h1, h5, p {
    color: white;
    margin-top: 5px;
  }
  
  .card, a {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
  